body{background-color: #40739e}

p.one{ background-image: url(../images/green.jpg);
	background-repeat: repeat;
	background-position: right top;} 
	h5{ background-image: url(../images/dark.jpg); 
background-repeat: no-repeat;
background-position: center;}
h4{
	background-image: url(../images/sycle.jpg);
	background-repeat: repeat;
	background-attachment: fixed;
}
h3{
	background-image:url(../images/pove.jpg);
	background-repeat:repeat;
	background-attachment: scroll;}


